@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


:root {
  --color-primary: #00A82D;
  --color-secondary: #038024;
  --color-black: #000000;
  --color-white: #ffffff;
  --color-light-bg: #F6FFF9;
  --color-light-bg-2: #F1FFF5;
  --color-green-bg: #EAFBEF;
  --color-red: #FF4130;
  --color-text-grey: #9EA5AB;

  --font-xs: 1.2rem;
  --font-sm: 1.4rem;
  --font-base: 1.6rem;
  --font-lg: 2rem;
  --font-xl: 2.6rem;
  --font-2xl: 4rem;
  --font-3xl: 4.8rem;
  --font-4xl: 6rem;
}

*,
*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
  font-size: 62.5%;
  line-height: 1.5;
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  background-color: #272727;
}

li{
    text-decoration: none;
    list-style: none;
}

.container {
  max-width: 132rem;
  margin: 0 auto;
  padding: 0 2rem;
}


/* ******************** */
/* ******HEADER******* */
/* ******************** */

.header{
    display: flex;
    align-items: center;
    margin-top: 3.2rem;
    gap: 4rem;
}

.header img{
    width: 90px;
}

.nav ul{
    display: flex;
    flex-direction: row;
    gap: 2.8rem;   
}

.nav ul li a{
    text-decoration: none;
    font-size:var(--font-sm);
    font-weight:400;
    line-height: 1.7;
    color: var(--color-white);
    transition: 0.2s ease-in;
}

.nav ul li a:hover{
    color: var(--color-primary);
}

.header .buttons{
    margin-left:auto;
    display: flex;
    gap: 2.2rem;
}

.btn{
    font-size:var(--font-sm);
    font-weight: 600;
    line-height: 1.7;
    border: none;
    background: none;
    transition: 0.2s ease-in;
}

.btn-primary{
    border-radius: 9999px;
    background-color: var(--color-primary);
    color: var(--color-white);
    padding: 2rem 3.2rem;
}

.btn-secondary{
    color: var(--color-white);
}

.btn-secondary:hover{
    color: var(--color-primary);
}

.btn-primary:hover{
    background-color: var(--color-secondary);
}

.hamburger{
    display: none;
    margin-left: auto;
}

.side-nav{
    position:fixed;
    right: 0;
    top: 0;
    width: 28rem;
    height: 100%;
    background: #333;
    padding: 3rem;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    z-index: 1000;
}

.side-nav.open{
    transform: translateX(0);
}

.side-nav.hidden{
    display: none;
}

.mobile-list{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.mobile-list li a{
    text-decoration: none;
    font-size:var(--font-base);
    font-weight:400;
    line-height: 1.7;
    color: var(--color-white);
    transition: 0.2s ease-in;
}

.cross-icon{
    position: absolute;
    right: 2rem;
}

@media(max-width:1024px){
    .hamburger{
        display: block;
    }

    .header .buttons{
        display: none;
    }

    .nav{
        display: none;
    }

    .mobile-buttons{
        margin-top: 4rem;
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 1.4rem;
    }

    .mobile-secondary{
        padding: 1.5rem 2rem;
        border: 1px solid #fff;
        border-radius: 9999px;
    }

    .btn-primary{
        padding: 1.5rem 2rem;
    }
}

@media(max-width:1090px){
    .buttons .btn-secondary{
        display: none;
    }
}