@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --color-primary:#00A82D;
  --color-secondary:#038024;
  --color-black:#000000;
  --color-white:#ffffff;
  --color-light-bg:#F6FFF9;
  --color-light-bg-2:#F1FFF5;
  --color-green-bg:#EAFBEF;
  --color-red:#FF4130;
  --color-text-grey:#9EA5AB;


  --font-xs:1.2rem;
  --font-sm:1.4rem;
  --font-base:1.6rem;
  --font-lg:2rem;
}

*,
*::after,
*::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}