/* ******************** */
/* ******BUTTONS******* */
/* ******************** */

.btn{
    font-size:var(--font-sm);
    font-weight: 600;
    line-height: 1.7;
    border: none;
    background: none;
    transition: 0.2s ease-in;
}

.btn-primary,
.btn-tertiary{
    border-radius: 9999px;
    color: var(--color-white);
    padding: 2rem 3.2rem;
}

.btn-primary{
    background-color: var(--color-primary);
}

.btn-tertiary{
    background-color: var(--color-white);
    color: var(--color-primary);
}

.btn-tertiary:hover{
    background-color: var(--color-primary);
    color: var(--color-white);
}

.btn-secondary{
    color: var(--color-white);
}

.btn-secondary:hover{
    color: var(--color-primary);
}

.btn-primary:hover{
    background-color: var(--color-secondary);
}

@media(max-width:1024px){
    .header .buttons{
        display: none;
    }

    .mobile-buttons{
        margin-top: 4rem;
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 1.4rem;
    }

    .mobile-secondary{
        padding: 1.5rem 2rem;
        border: 1px solid #fff;
        border-radius: 9999px;
    }

    .btn-primary{
        padding: 1.5rem 2rem;
    }
}


/* ******************** */
/* ******BASICS******* */
/* ******************** */

.green-dot{
    color: var(--color-primary);
}

.paragraph{
    font-size: var(--font-base);
    line-height: 2.8rem;
    font-weight: 400;
    color: var(--color-black);
}

.sub-heading-text{
    font-size: var(--font-lg);
    text-transform: uppercase;
    line-height: 2.3rem;
    font-weight: 600;
    color: var(--color-primary);
    margin-bottom: 2.6rem;
}

/* ******************** */
/* ******CARD******* */
/* ******************** */

.icon-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 28rem;
    gap: 1.2rem;
}

.icon-card img{
    max-width: 14rem;
}

.icon-card h3{
    font-size: var(--font-base);
    font-weight: 700;
    line-height: 2.8rem;
    text-align: center;
}

.icon-card p{
    font-size: var(--font-sm);
    font-weight: 400;
    line-height: 24px;
    text-align: center;
}



/* ******************** */
/* ******INTRODUCING******* */
/* ******************** */

.introducing-container{
    background-color: var(--color-light-bg-2);
    padding: 5.2rem 2.8rem;
    border-radius: 1.2rem;
    box-shadow: 0 4px 8px rgba(0,0,0,0.10);
}

.introducing-container img{
    max-width: 6.4rem;
    margin-bottom: 4rem;
}

.introducing-container h3{
    font-size: var(--font-xl);
    line-height: 3.6rem;
    font-weight: 700;
    color: var(--color-black);
    margin-bottom: 2.2rem;
}

.paragraph-grey{
    color: var(--color-text-grey-2);
}


/* ******************** */
/* ******HIGHLIGHTS******* */
/* ******************** */

.highlight-text h2{
    font-size:var(--font-3xl) ;
    font-weight: 700;
    line-height: 5.8rem;
    color: var(--color-black);
    margin-bottom: 1.4rem;
}

.highlight-text{
    max-width: 58rem;
}

.highlight-card{
    display: flex;
    justify-content: space-between;
}

.highlight-card.reverse {
  flex-direction: row-reverse;
}

.highlight-text button{
    border-radius: 9999px;
    color: var(--color-primary);
    padding: 2rem 3.2rem;
    border: 2px solid var(--color-primary);
}

.highlight-text button:hover{
    background-color: var(--color-primary);
    color: var(--color-white);
}

.highlight-text p{
    margin-bottom: 2rem;
}



/* ******************** */
/* ******BLOGS******* */
/* ******************** */

.blog-card{
    background-color:var(--color-white) ;
    border-radius: 2rem;
}

.blog-top{
    padding: 2rem ;
} 

.blog-bottom{
    padding: 2.4rem;
}